################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/youtubePlayer/.vs
/.vs
/youtubePlayer.pem
/extensionApi/.vs
/extensionApi/bin/Debug/net8.0
/extensionApi/obj
