* {
    font-family: Roboto;
    overflow:hidden
}

button{
    border:none;
}

button:focus

{
    outline: none;
    box-shadow: none;
}

.controls {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    pointer-events: all;
    user-select: none;
    z-index: 100000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

.controlBar {
    width: 100%;
    height: 60px;
    z-index: 50000;
    display:flex;
    justify-content: center;
    overflow:visible;
}

    .controlBar p{
        margin:0;
    }

    .controlBar * {
        overflow: visible
    }

.controlButton {
    pointer-events: all;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.mobileControl {
    margin-bottom: -50px;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none
}

    .mobileControl > div {
        width: 100%;
        height: auto;
        background: rgb(201, 201, 201, 0.20);   
        opacity: 0;
        display: flex;
        overflow: hidden;
        padding-top: 60px;
        transition: opacity .1s cubic-bezier(.4,0,1,1);
        color: white
    }

        .mobileControl > div > div:not(.circleDiv) {
            width: 90px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            z-index: 100;
            align-items: center;
            margin-top: -40px;
        }


            .nextTime {
                margin: -60px -50% -70px 0px;
                flex-direction: row;
                border-radius: 20% 80% 80% 20% / 51% 52% 48% 53%
            }

p {
    text-align: center;
    font-size: 10px;
}

.previousTime {
    margin: -60px 0 -70px -50%;
    flex-direction: row-reverse;
    border-radius: 80% 20% 20% 80% / 51% 50% 50% 49%
}

.nextDiv{
    margin-left:20%;
}

.prevDiv{
    margin-right:20%;
}

.circleDiv{
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:10;
    width:10000px;
    height:10000px
}
.circle {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background: rgb(201, 201, 201, 0.20);
    animation: circle-animation 4s cubic-bezier(.4, 0, 1, 1)
}

@keyframes circle-animation {
    to {
        transform: scale(1000);
        opacity: 0;
    }
}

.bar, #barGlobal {
    width:100%;
    height:13px;
    display:flex;
}

#bar{
    margin-bottom:-13px;
    display:flex;
    align-items:center
}

#barGlobal {
    display: flex;
    flex-direction:column
}

.bar > div:first-of-type {
    background: #FFFFFF33;
    height: 3px;
}
#bar > div{
    width:100%
}
#bar > div:first-of-type > div {
    background: linear-gradient(to right, #f03 80%, #ff2791 100%);
    background-size: 100%;
    height: 3px;
    width: 0;
    margin-bottom: -3px;
}
#slider {
    width: 13px;
    height: 13px;
    background: #f03;
    border-radius: 100%;
    position: relative;
    margin-right: -13px;
}

.buttons {
    height :48px;
    display:flex;
    justify-content:space-between;
    width:100%;
}

.buttons button{
    background:transparent;
    border:none
}

.buttons > div{
    height: 100%;
    display: flex;
    align-items: center;
}

.divPlay {
    transition: opacity .1s cubic-bezier(.4,0,1,1);
    width: 100%;
    height: 100%;
    position: absolute;
    align-content: center;
    align-items: center;
    display: flex;
    z-index: 2000;
    pointer-events: all;
    user-select: none;
    justify-content: center;
}

.timeCode{
    color:white;
    font-size:15px;
}

.setting {
    width: 170px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    right: 10px;
    z-index: 100000;
    background: rgb(18,18,18);
    pointer-events: all;
    user-select: none;
}

    .setting > button {
        width: 100%;
        height: 25px;
        background: transparent;
        color: white;
        font-family: Roboto;
    }

.select-view {
    display: flex;
}

#time > p {
    font-size:100%;
}

#load {
    width: 100%;
    position: absolute;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}