USE [master]
GO
/****** Object:  Database [extensionApi]    Script Date: 24/11/2025 17:42:03 ******/
CREATE DATABASE [extensionApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'extensionApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\extensionApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'extensionApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\extensionApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [extensionApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [extensionApi]
GO
/****** Object:  Table [dbo].[timeWatch]    Script Date: 24/11/2025 17:42:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timeWatch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ep] [int] NOT NULL,
	[title] [varchar](500) NOT NULL,
	[time] [int] NOT NULL,
 CONSTRAINT [PK_timeWatch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
